
    <a  target="_blank"  (click)="openPopUp()" >
      <div class="star" >

          <button mat-icon-button class="star-button" [ngClass]="{'star-button-favourite': beer.favourite}" (click)="addFavourite($event)">
            <mat-icon>{{isFavourite()? 'star': 'star_border'}}</mat-icon>
          </button>
          
      </div>
      <img class="image"
      alt="Beer Image"
      src= '{{ beer.image_url }}'  
     />
      <h3>{{ beer.name }}</h3>
      <h6 class="gray-text">{{beer.tagline}}</h6>
    </a>

