p {
    margin-bottom: 2px;
    font-size: small;
  }
  h1 {
    margin: -8px 3px;
}
.search-bar {
    margin: 4px 0px;
    text-align: center;
  }
  
  .search-bar input {
    width: 320px;
    padding: 4px 8px;
    font-size: 12px;
  }
  .header {
    height: 100px;
    width: auto;
    display: flex;
    margin-bottom: -8px;
    align-items: center;
    flex-direction: column;
    background-image: url(../../../assets/background.jpg);

    /* background-color: #ffa500; */
    color: #ffa500;
    font-weight: 600;
  }

  .search-result li {
    border-bottom: 1px solid ;
    border-left: 1px solid ;
    border-right: 1px solid;
    width: 195px;
    height: 16px;
    padding: 5px;
    background-color: #ffa500;
    cursor: pointer;
    list-style-type: none;
  }
  
  .search-result li:hover {
    background-color: #8a7b5c;
  }
  
  .search-result li a {
    display: block;
    text-decoration: none;
  }
  
  .search-result li a:hover {
    color: white;
  }
  .search-result li a:active {
    color: white;
  }
  .search-box {
    width: 200px;
    height: 20px;
    color: #ffa500;

  }
  
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }