.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  /* margin-left: 10%;
  margin-right: 10%;   */
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #ffffff;
  height: 200px;
  width: 180px;
  margin:  16px 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}
  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 4px 4px rgba(0.14,0.14,0.14,0.14);
}

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }


  /* Responsive Styles */
  @media screen and (max-width: 550px) {

  }