<div class="flexEnd">
  <button mat-icon-button class="flexEnd" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="flex-card">
    <div class="image-row">
      <img alt="Photo of beer" mat-card-lg-image [src]="beer.image_url">
    </div>
    <div class="info-row">
      <h2 >{{beer.name}}</h2>
      <p class="gray-text">
        {{beer.tagline}}
      </p>
      <hr>
      <p>
        <b>IBU: </b>{{beer.ibu}}&nbsp;&nbsp;
        <b>ABV: </b>{{beer.abv}}%&nbsp;&nbsp;
        <b>EBC: </b>{{beer.ebc}}&nbsp;&nbsp;
      </p>
      <p>
        {{beer.description}}
      </p>
      <br/>
      <b>Best served with:</b>
      <ul>
        <li class="li" *ngFor="let pairing of beer.food_pairing">
          {{pairing}}
        </li>
      </ul>
    </div>
  </div>
  <br/>
  <div class="column-recomended">
    <h3 >You might also like</h3>
    <div class="grid-container">
      <mat-grid-list [cols]="3" rowHeight="220px">
        <mat-grid-tile *ngFor="let similarBeer of similarBeers">
          <mat-card class="recommended-card">
            <mat-card-header>
              <img alt="Beer Image" class="mat-card-image" mat-card-sm-image [src]="similarBeer.image_url">
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <h5>{{similarBeer.name}}</h5>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
